@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900&display=swap);

li {
    list-style: none;
}
ul {
    margin: 0px;
}

body {
    background-color: blueviolet;
    font-family: "Montserrat";
    font-weight: 300;
    color: #ffffff;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
    padding: 0px 15px;
}

/* Input */
.formKey {
    padding: 5px;
}
.inputKey {
    padding: 5px 10px;
    color: blueviolet;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    width: 500px;
    height: 50px;
    border: none;
    letter-spacing: 3px;
}
.inputKey:focus {
    outline: none;
    color: rgb(255, 255, 255);
    background-color: rgb(184, 135, 230);
}

/* Keyboard */
.keyboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.list {
    font-size: 30px;
}
.items {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-top: 10px solid #242323;
    border-right: 15px solid #353434;
    border-bottom: 15px solid #353434;
    border-left: 15px solid #242323;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 20px 20px 30px 30px;
}
.list {
}
.numsLets {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* Numbers */
.numbers {

}
.nums {

}
.num {

}

/* Letters */
.letters {
}
.letts {
}
/* .lett {
    display: flex;
    flex-direction: column;
} */
/* .lettEng {
    margin-left: -50px;
}
.lettUcr {
    margin-left: 50px;
} */

/* Other */
.other {
}
.oths {
}
.space {
    width: 100%;
    max-width: 1000px;
    min-width: 300px;
    border-radius: 15px 15px 50px 50px;
}
.ctrl {
    width: 150px;
    text-transform: initial;
}
.alt {
    width: 150px;
    text-transform: initial;
}
.shift {
    width: 400px;
    text-transform: initial;
}

/* Enter */
.enter {
}
.ents {
}
.ent {
    width: 350px;
}

/* Active */
.active {
    padding: 5px;
    font-size: 25px;
    border-top: 10px solid #242323;
    border-right: 10px solid #353434;
    border-bottom: 10px solid #353434;
    border-left: 10px solid #242323;
}

@media(max-width: 2000px) {
    .letts,
    .nums {
        flex-wrap: wrap;
    }
}